CLIENT_ID="your google client id for Oauth authentication"
CLIENT_SECRET="your google client secret for Oauth authentication"
GOOGLE_AUTH_URL="https://accounts.google.com/o/oauth2/auth"
GOOGLE_TOKEN_URL="https://oauth2.googleapis.com/token"
GOOGLE_USERINFO_URL="https://www.googleapis.com/oauth2/v2/userinfo"
REDIRECT_URI="http://127.0.0.1:5000/callback"
SECRET_KEY="secret something"